@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@0;1&display=swap');

/* base styles */
* {
  background: #04bed2ff;
  margin: 0;
  font-family: "Fira Sans";
  color: #333;
}
.navbar {
  padding: 15px;
  display: flex;
  margin: 20px;
  font-size: 25px;
}
.navbar h1 {
  color: #eeff41;
  background-color: #0097a7;
}
.navbar .links {
  margin-left: auto;
  color: #eeff41;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #eeff41;
  background-color: #0097a7;
}
.navbar a:hover {
  color: #9b259b;
  background-color: #f2ef81;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}